{% extends "base.html" %}

{% block titulo %} MyMDiagnostic {% endblock %}

{% block contenido %} 

<form class="card" action="index.html" method="post">
    <div class="card-header">
      <h3 class="card-title text-center">Detalles legalización</h3>
    </div>
    <div class="card-body">

      <div class="form-group">
        <label>Fecha</label>
        <input type="datetime-local" class="form-control" name="fecha_gasto" id="fecha_gasto" required />
      </div>

      <div class="form-group">
        <label>Nit proveedor</label>
        <input type="text" class="form-control" name="nit" id="nit" required />
      </div>

      <div class="form-group">
        <label>Nombre proveedor</label>
        <input type="text" class="form-control" name="nombre_proveedor" id="nombre_proveedor" required />
      </div>

      <div class="form-group">
        <label>Concepto</label>
        <input type="text" class="form-control" name="concepto" id="concepto" required />
      </div>

      <div class="form-group">
        <label>Valor</label>
        <input type="number" class="form-control" name="valor" id="valor" required />
      </div>

      <div class="form-group">
        <label>Detalle</label>
        <input type="text" class="form-control" name="detalle" id="detalle" required />
      </div>

    </div>
    <div class="card-footer">
      <button type="Submit" class="btn btn-primary" name="button">Registrar</button>
    </div>
  </form>

</section>

</section>

{% endblock %}