{% extends "base.html" %}

{% block titulo %} MyMDiagnostic {% endblock %}

{% block contenido %} 

 <section class="col-md-4 mt-5">

    <form class="card" action="index.html" method="post">
      <div class="card-header">
        <h3 class="card-title text-center">Legalización</h3>
      </div>
      <div class="card-body">

        <div class="form-group">
          <label>Número de dias</label>
          <input type="number" name="dias" id="dias" class="form-control" required />
        </div>

        <div class="form-group">
          <label>Fecha inicial</label>
          <input type="datetime-local" class="form-control" name="fecha_final" id="fecha_final" required />
        </div>

        <div class="form-group">
          <label>Monto asignado</label>
          <input type="number" class="form-control" name="monto" id="monto" required />
        </div>

        <div class="form-group">
          <label>Valor gastado</label>
          <input type="number" class="form-control" name="valor_gastado" id="valor_gastado" required />
        </div>

        <div class="form-group">
          <label>Diferencia</label>
          <input type="number" class="form-control" name="diferencia" id="diferencia" required />
        </div>

        <div class="form-group">
          <label>Fecha legalización</label>
          <input type="datetime-local" class="form-control" name="fecha_legalizacion" id="fecha_legalizacion" required />
        </div>

      </div>
      <div class="card-footer">
        <button type="Submit" class="btn btn-primary" name="button">Registrar</button>
      </div>
    </form>

{% endblock %}