{% extends "base.html" %}

{% block titulo %} MyMDiagnostic {% endblock %}

{% block contenido %} 

<main class="container">
    <section class="row">

      <section class="col-md-5 mt-5" style="justify-content: center">
        <form class="card " action="index.html" method="post">
          <div class="card-header">
            <h3 class="card-title text-center">Solicitud de legalización</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label>Nombre del empleado</label>
              <input type="text" name="empleado" id="empleado" class="form-control" required />
            </div>

            <div class="form-group">
              <label>Cargo</label>
              <input type="text" class="form-control" name="cargo" id="cargo" required />
            </div>

            <div class="form-group">
              <label>Lugar de Destino</label>
              <input type="text" class="form-control" name="destino" id="destino" required />
            </div>

            <div class="form-group">
              <label>Monto asignado</label>
              <input type="number" class="form-control" name="monto" id="monto" required />
            </div>

            <div class="form-group">
              <label>Fecha final</label>
              <input type="datetime-local" class="form-control" name="fecha_final" id="fecha_final" required />
            </div>

          </div>
          <div class="card-footer">
            <button type="Submit" class="btn btn-primary" name="button">Registrar</button>
          </div>
        </form>
      </section>



{% endblock %}