{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% block titulo %} {% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  </head>

  <body>
    <!-- Statics -->
    <script src="{% static 'js/script.js' %}"></script>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    


  

     <nav style="background-color:rgb(73, 72, 63)" class="navbar navbar-expand-lg " >
      <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Solicitud</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/legalizacion/">Legalizacion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/detalle/">Detalle</a>
              </li>  
          </ul>
        </div>
      </div>
    </nav>

    {% block contenido%} {% endblock  %}
    {% block js %} {% endblock %}
  </body>


    <footer class="card text-center"  style="width: 60rem;height: 300; display: flex;justify-content: center; margin: 30px; margin-left: auto; margin-right: auto;">
       &copy; Copyright 2022 by Roxanna Echeverri</div>
    </footer> 
</html>


